<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{- .Title }} - {{ .Site.Title -}}</title>
  <meta name="author" content="{{ .Site.Author.name }}">
  <meta name="description" content="{{ .Site.Params.description }}">

  {{ .Hugo.Generator }}

  <!-- CSS -->
  {{ $normalize := resources.Get "/src/styles/_external/normalize.css" }}
  {{ $milligram := resources.Get "/src/styles/_external/milligram.css" }}
  {{ $baguetteBox := resources.Get "/src/styles/_external/baguetteBox.css" }}
  {{ $external := slice $normalize $milligram $baguetteBox | resources.Concat "assets/css/external.css" | resources.Minify }}
  <link rel="stylesheet" href="{{ $external.RelPermalink }}" media="screen">

  {{ $options := (dict "targetPath" "assets/css/styles.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "assets/node_modules")) }}
  {{ $styles := resources.Get "/src/styles/styles.scss" | resources.ToCSS $options }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">

  <!-- RSS -->
  <link href="{{ $.LanguagePrefix }}{{ "/posts/index.xml" | relURL }}" rel="alternate" type="application/rss+xml" title="{{- .Site.Title -}}" />
  <link href="{{ $.LanguagePrefix }}{{ "/posts/index.xml" | relURL }}" rel="alternate" type="application/rss+xml" title="{{- .Site.Title -}}" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
</head>
