{{ define "main" }}
  <article>
    <section>
      {{ .Content }}
    </section>
  </article>
  <ul class="social-links">
    <li>
      <a href="mailto:hi@ikanovic.me">
        <i class="fas fa-envelope"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/{{.Site.Author.github}}">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li>
      <a href="https://gitlab.com/{{.Site.Author.gitlab}}">
        <i class="fab fa-gitlab"></i>
    </a>
    </li>
    <li>
      <a href="https://linkedin.com/in/{{.Site.Author.linkedin}}">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a href="https://www.xing.com/profile/{{.Site.Author.xing}}">
        <i class="fab fa-xing-square"> </i>
      </a>
    </li>
  </ul>
{{ end }}
