body {
  main {
    .homepage-avatar {
      border-radius: 50%;
      margin-bottom: 2rem;
    }
  }
  .social-links a {
   color: #404040;
   font-size: 3rem;
   text-decoration: none;
   margin-left: 12px;
  }

  .social-links li {
    text-decoration: none;
    display: inline;
  }

  a:hover,
  a:focus {
    color: #0085a1;
    text-decoration: none;
  }
}
